@font-face {
  font-family: JostRegular;
  src: url(../fonts/jost/Jost-Regular.ttf);
}

@font-face {
  font-family: JostMedium;
  src: url(../fonts/jost/Jost-Medium.ttf);
}

@font-face {
  font-family: JostSemiBold;
  src: url(../fonts/jost/Jost-SemiBold.ttf);
}

@font-face {
  font-family: JostBold;
  src: url(../fonts/jost/Jost-Bold.ttf);
}
