.container {
  padding: 0px 10px;
  // z-index: -1;
  // background-color: #121212;
}

@media (max-width: 480px) {
  .container {
    padding: 0px 20px;
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 0px 100px;
  }
}
